html {
  background-color: black;
  text-align: center;
  letter-spacing: 1px;


}

h2 {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: normal;
  font-size: 50px;
}

p {
    font-family: 'Amatic SC', cursive;
    color: grey;
    font-size: 21px;
}

img {
  margin: 10px auto;
}

a {
  color: turquoise;
}
